@model EntityLayer.Concrete.Writer
@{
    ViewBag.Title = "WriterProfile";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";

}
<script src="~/Templates/webadmin/plugins/jquery/jquery.min.js"></script>

<title>Profilim</title>
<br />
@Html.LabelFor(x => x.WriterName)
@Html.TextBoxFor(x => x.WriterName, new { @class = "form-control" })
<br />
@Html.LabelFor(x => x.WriterSurname)
@Html.TextBoxFor(x => x.WriterSurname, new { @class = "form-control" })
<br />
@Html.LabelFor(x => x.WriterAbout)
@Html.TextBoxFor(x => x.WriterAbout, new { @class = "form-control" })
<br />
@Html.LabelFor(x => x.WriterTitle)
@Html.TextBoxFor(x => x.WriterTitle, new { @class = "form-control" })

